*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(32, 32, 32,.9);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
h2{
  color: #ffff;
  text-align: center;
}
.logincontainer{
  background-color: rgba(199, 198, 196, .3);
  width: 25vw;
  height: auto;
  
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 15px, 10px 10px ;
  position: relative;
  overflow: hidden;

}

#form{
  display: flex;
  flex-direction: column;
  
}
label{
  color: #ffff;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 2px;
}
#username, #password, #email{
  background: #292929;
  border-radius: 5px;
  padding: 10px;
  border:none;
  color: #ffff;
  
}
::placeholder {
  color:rgb(204, 204, 204)
}

#btn{
  position: absolute;
  top: 88%;
  left: 38%;
  width: 80px;
  padding: 5px;
  background: rgb(169, 236, 208);
  border-radius: 2px;
  border: none;
  color:rgb(26, 27, 26);
  
}

#btn:hover{
  background: rgb(50, 119, 50) ;
  color:honeydew;
}

#text, #pswtext{
  margin-top: 10px;
}

.valid{
  color: rgb(116, 238, 116);
  font-size: 18px;
}

.invalid{
  color: rgb(231, 80, 80);
  font-size: 18px;
}

#email{
  margin-bottom: 10px;
}
#text{
  margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  .logincontainer{
    min-width: 50vw;
  }
  #email{
    margin-bottom: 0;
  }
  #text{
    margin-bottom: 40px;
  }
}


@media only screen and (max-width: 600px) {
  .logincontainer{
    min-width: 80vw;
  }
  #email{
    margin-bottom: 0;
  }
}